[run]
branch = True
data_file = .coverage
source = cloudigrade
parallel = True
concurrency = multiprocessing
omit =
    *config/settings/*
    *config/celery.py
    *config/urls.py
    *config/wsgi.py
    *config/gunicorn.py
    *manage.py
    *migrations*
    *static*
    *templates*
