[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
seqdiag = "*"
jinja2 = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
isort = "*"
coverage = "*"
tblib = "*"
pydocstyle = "*"
black = "*"
flake8-black = "*"

[packages]
django-environ = "~=0.4.5"
boto3 = "~=1.10.39"
botocore = "~=1.13.39"
celery = "~=4.4.0"
django-model-utils = "~=4.0.0"
jsonpickle = "~=1.2"
psycopg2-binary = "~=2.8.4"
python-dateutil = "~=2.8.0"
djangorestframework = "~=3.10.3"
drf-insights-pagination = "~=1.0.0"
gunicorn = "~=20.0.4"
django-rest-polymorphic = "~=0.1.8"
django-health-check = "~=3.11.1"
pycurl = "~=7.43.0.2"
sentry-sdk = "~=0.13.5"
tqdm = "~=4.40.2"
Django = "~=3.0.0"
django_polymorphic = "~=2.1.2"
django_celery_beat = "~=1.5.0"
Faker = "~=3.0.0"
python-daemon = "~=2.2.4"
kafka-python = "~=1.4.7"
requests = "~=2.22.0"
uritemplate = "~=3.0.0"
rest-framework-generic-relations = {git = "https://github.com/Ian-Foote/rest-framework-generic-relations.git",ref = "drop-python2"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
