[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
seqdiag = "*"
jinja2 = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-quotes = "*"
isort = "*"
coverage = "*"
tblib = "*"

[packages]
django-environ = "~=0.4.5"
boto3 = "~=1.9.33"
botocore = "~=1.12.135"
celery = "~=4.3.0"
django-model-utils = "~=3.1.2"
jsonpickle = "~=1.0"
psycopg2-binary = "~=2.8.2"
python-dateutil = "~=2.7.5"
djangorestframework = "~=3.9.1"
rest-framework-generic-relations = "~=1.2.1"
drf-insights-pagination = "~=1.0.0"
gunicorn = "~=19.9.0"
django-rest-polymorphic = "~=0.1.8"
django-health-check = "~=3.8.0"
pycurl = "~=7.43.0.2"
sentry-sdk = "~=0.7.14"
tqdm = "~=4.31.1"
Django = "~=2.1.5"
django_polymorphic = "~=2.0.3"
django_celery_beat = "~=1.4.0"
Faker = "~=1.0.4"

[requires]
python_version = "3.7"
