{
  "metadata": {
    "annotations": {}, 
    "name": "cloudwatch"
  },  
  "apiVersion": "v1",
  "kind": "Secret",
  "data": {
    "aws_access_key_id": "{{ cloudwatch_aws_access_key_id| default(aws_access_key_id) | string | b64encode }}",
    "aws_secret_access_key": "{{ cloudwatch_aws_secret_access_key| default(aws_secret_access_key) | string | b64encode }}",
    "aws_region": "{{ cloudwatch_aws_region | default("") | string | b64encode }}",
    "log_group_name": "{{ cloudwatch_log_group_name | default("") | string | b64encode }}"
  }
}
