{
  "metadata": {
    "annotations": {},
    "name": "cloudigrade-azure"
  },
  "apiVersion": "v1",
  "kind": "Secret",
  "data": {
    "client_id": "{{ azure_client_id | default("") | string | b64encode }}",
    "client_secret": "{{ azure_client_secret | default("") | string | b64encode }}",
    "sp_object_id": "{{ azure_sp_object_id | default("") | string | b64encode }}",
    "subscription_id": "{{ azure_subscription_id | default("") | string | b64encode }}",
    "tenant_id": "{{ azure_tenant_id | default("") | string | b64encode }}"
  }
}
