{
  "metadata": {
    "annotations": {},
    "name": "cloudigrade-app-secret"
  },
  "apiVersion": "v1",
  "kind": "Secret",
  "data": {
    "api-sentry-dsn": "{{ api_sentry_dsn | default("") | string | b64encode }}",
    "aws-access-key-id": "{{ aws_access_key_id | string | b64encode }}",
    "aws-secret-access-key": "{{ aws_secret_access_key | string | b64encode }}",
    "aws-sqs-access-key-id": "{{ aws_sqs_access_key_id | default(aws_access_key_id) | string | b64encode }}",
    "aws-sqs-secret-access-key": "{{ aws_sqs_secret_access_key | default(aws_secret_access_key) | string | b64encode }}",
    "celery-sentry-dsn": "{{ celery_sentry_dsn | default("") | string | b64encode }}",
    "django-secret-key": "{{ django_secret_key | default("test") | string | b64encode }}",
    "houndigrade-sentry-dsn": "{{ houndigrade_sentry_dsn | default("") | string | b64encode }}",
    "listener-sentry-dsn": "{{ listener_sentry_dsn | default("") | string | b64encode }}",
    "slack-token": "{{ slack_token | default("") | string | b64encode }}"
  }
}
