# Bonfire deployment configuration
appsFile:
  host: gitlab
  repo: insights-platform/cicd-common
  path: bonfire_configs/ephemeral_apps.yaml
apps:
- name: cloudigrade
  components:
    - name: cloudigrade
      host: {{ cloudigrade_deployment_host }}
      repo: {{ cloudigrade_deployment_repo }}
      path: deployment/clowdapp.yaml
- name: postigrade
  components:
    - name: postigrade
      host: {{ postigrade_deployment_host }}
      repo: {{ postigrade_deployment_repo }}
      path: deployment/clowdapp.yaml
