name: Tests

env:
  IMAGE_NAME: quay.io/cloudservices/cloudigrade

on: [pull_request, push]

jobs:
  test-py39:
    name: py39
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-923-python-3.9.13
    steps:
      - uses: actions/checkout@v3
      - run: pip install tox poetry
      - run: tox -e py39
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: artifacts/junit-cloudigrade.xml

  test-python-version:
    name: python-version
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-923-python-3.9.13
    steps:
      - uses: actions/checkout@v3
      - run: python --version | grep '^Python '$(cat .python-version)'$'

  test-flake8:
    name: flake8
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-923-python-3.9.13
    steps:
      - uses: actions/checkout@v3
      - run: pip install tox poetry
      - run: tox -e flake8

  test-vulnerability:
    name: Vulnerability
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-923-python-3.9.13
    steps:
      - uses: actions/checkout@v3
      - run: pip install poetry safety
      - run: poetry install
      - run: safety check

  test-docs:
    name: Verify docs and openapi.json
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-923-python-3.9.13
    steps:
      - uses: actions/checkout@v3
      - run: pip install poetry
      - run: poetry install
      - run: poetry run make docs-api-examples-test
      - run: poetry run make openapi-test
      - run: poetry run openapi-spec-validator openapi.json
      - run: poetry run openapi-spec-validator openapi-internal.json

  test-celery-configs:
    name: Verify Celery task configs
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-923-python-3.9.13
    steps:
      - uses: actions/checkout@v3
      - run: pip install poetry
      - run: poetry install
      - run: poetry run make checkceleryconfigs
