name: Tests

env:
  IMAGE_NAME: quay.io/cloudservices/cloudigrade

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '*'

jobs:
  test-py39:
    name: py39
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-1049-python-3.9.13-2
    steps:
      - uses: actions/checkout@v4
      - run: pip install tox~=4.0.8
      - run: tox -e py39
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: artifacts/junit-cloudigrade.xml

  test-python-version:
    name: python-version
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-1049-python-3.9.13-2
    steps:
      - uses: actions/checkout@v4
      - run: python --version | grep '^Python '$(cat .python-version)'$'

  test-flake8:
    name: flake8
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-1049-python-3.9.13-2
    steps:
      - uses: actions/checkout@v4
      - run: pip install tox~=4.0.8
      - run: tox -e flake8

  test-vulnerability:
    name: Vulnerability
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-1049-python-3.9.13-2
    steps:
      - uses: actions/checkout@v4
      - run: pip install poetry==1.8.5 safety
      - run: poetry install
      - run: bash -c "poetry run pip freeze | poetry run safety check --stdin -i 42923 -i 65213 -i 70612 -i 73711"

  test-docs:
    name: Verify docs and openapi.json
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-1049-python-3.9.13-2
    steps:
      - uses: actions/checkout@v4
      - run: pip install poetry==1.8.5
      - run: poetry install
      - run: poetry run make docs-api-examples-test
      - run: poetry run make openapi-test
      - run: poetry run openapi-spec-validator openapi.json
      - run: poetry run openapi-spec-validator openapi-internal.json

  test-celery-configs:
    name: Verify Celery task configs
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudigrade/build-container:ubi-8.7-1049-python-3.9.13-2
    steps:
      - uses: actions/checkout@v4
      - run: pip install poetry==1.8.5
      - run: poetry install
      - run: poetry run make checkceleryconfigs
