{
  "Version": "2012-10-17",
  "Id": "{{ sqs_trail_name }}-policy-id",
  "Statement": [
    {
      "Sid": "{{ sqs_trail_name }}-statement-id",
      "Effect": "Allow",
      "Principal": {
        "AWS": "*"
      },
      "Action": "SQS:SendMessage",
      "Resource": "{{ sqs_trail_queue.queue_arn }}",
      "Condition": {
        "ArnLike": {
          "aws:SourceArn": "{{ s3_trail_bucket_arn }}"
        }
      }
    }
  ]
}
